<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<config>
    <modules>
        <Sslw_Ismsregister>
            <version>0.0.1</version>
        </Sslw_Ismsregister>
    </modules>
    <global>
        <models>
            <sslwismsregister>
                <class>Ismsregister_Model</class>
            </sslwismsregister>
        </models>
        <events>
            <customer_register_success>
                <observers>
                    <Sslw_Ismsregister_model_observer>
                        <type>singleton</type>
                        <class>Sslw_Ismsregister_Model_Observer</class>
                        <method>SendSmsRegister</method>
                    </Sslw_Ismsregister_model_observer>
                </observers>
            </customer_register_success> 
        </events>
    </global>
</config>
